* {
    font-family: Arial, sans-serif;
}

.bg-img-returnal {
    background-image: url("../img/jumbo-bg.png");
    background-position: top;
    background-size: cover;
}

.bg-img-it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
}

.my-bg-black {
    background-color: #000;
}

.my-bg-white {
    background-color: white;
}

.my-bg-dark {
    background-color: #1f1f1f;
}

.my-bg-indaco {
    background-color: #161c3b;
}

.my-bg-blue {
    background-color: #00439c;
}

.my-bg-grey {
    background-color: #bebcbb;
}
    
.my-section-small {
    padding: 30px 0;
}

.my-section-medium {
    padding: 45px 0;
}

.my-section-large {
    padding: 70px 0; 
}

h4{
    font-size: 1.2rem;
}

p {
    font-weight: 700;
}

h6 {
    font-size: small;
}

.my-section-title {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.my-section-title-small {
    font-size: 2rem;
    margin-bottom: 34px;
}

.my-section-text {
    margin-bottom: 25px;
}

.my-section-super {
   color:  #0072ce;
   font-weight: 700;
   text-transform: uppercase;
   padding-bottom: 0;
   margin-bottom: 0;   
}

.my-txt-white {
    color: white;
}

.my-txt-dark {
    color: #1f1f1f !important;
}

.my-txt-grey {
    color: #727272;
}

.sony-logo { 
    width: 50px;
}

.mega-p {
    padding-top: 200px;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.img-round-borders {
    border-radius: 20px;
}

.my-card-borders {
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.blu-border {
    position: relative;
}

.blu-border::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border: 2px solid blue;
    border-radius: 20px;
}

.my-card {
    width: 100%;
    text-align: center;
}

.components .my-card img {
    width: 60%;
    padding-bottom: 15px;
}

.news .my-card img {
    width: 100%;
    padding-bottom: 15px;
}

.ps-4 .my-card-borders {
    border-radius: 0;
}

.soulstorm {
    width: 100%;
}

nav i {
    font-size: 10px;
    color: #727272;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar a {
    font-weight: 700;
}

.card {
    border: none;
    border-radius: 0;
}

.footer-txt {
    font-size: .9rem;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.btn {
    border-radius: 2rem;
}

.btn-secondary {
    background-color: #363636;
}

.btn-danger {
    background-color: #cd3d0f;
}

.btn-primary {
    background-color: #2d64e6;
}

.btn-light {
    background-color: #d9dad5;
    color: #2d64e6;
     border: none;
}

.btn-info {
    background-color: #f5f5f5;
}

/**effects**/

.navbar-nav .nav-link + .dropdown-menu {
    display: block;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: -280px;
    border: 0;
    border-radius: 0;
    transition: all .3s;
    overflow: hidden;
    z-index: -1;
}

.dropdown-menu .icons-list {
    row-gap: 30px;
    list-style: none;
}

.icons-list p {
    margin-bottom: 0;
}

.sub-link {
    gap: 30px;
    list-style: none;
}

.sub-link li::before {
    content: "\2022";
    color: blue; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
    margin-right: -.5em;
}

header .navbar-nav .nav-link:focus + .dropdown-menu {
    top: 90px;
}

.play-menu-ico {
    width: 70px;
}

.navbar ul li a:hover {
    color: #2d64e6 !important;
}

.navbar ul li a:hover i {
    color: #2d64e6 !important;
}

.btn {
    position: relative;
}

.white-border-effect:hover:before {
    display: block;
}

.white-border-effect::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 3px solid white;
    border-radius: 20px;
    display: none;
}

.btn-danger:hover {
    background-color: #cd3d0f !important;
    border-color: #cd3d0f;
}

.btn-info:hover {
 background-color: #f5f5f5;
}

.black-border-effect:hover:before {
    display: block;
}

.black-border-effect::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 3px solid black;
    border-radius: 20px;
    display: none;
}

.opacity-effect {
    opacity: 0.5;
    transition: opacity .5s;
}

.opacity-effect:hover {
    opacity: 1;
}

.move-up-effect {
    transition: transform .3s;
}

.move-up-effect:hover {
    transform: translateY(-10px);
}

